<!doctype html>
<html lang="pt-br">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<title>Hortifrutigranjeiros - Alimentos saudáveis e frescos</title>

<!-- css bootstrap !-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous">

<!-- favicon -->
<link href="imagens/favicon.ico" rel="icon" type="images/png" />

</head>

<!-- estilos css -->
<link href="css/estilos.css" rel="stylesheet" type="text/css" />

<body>

	<!-- navbar !-->
	<header th:replace="~{header :: header}"></header>

	<!-- main -->
	<main>

		<div class="container mt-100">

			<div class="card m-4">
				<!-- formulário -->
				<form class="row g-2 m-4" method="post">
					<h2>Alterar Fornecedor</h2>

					<div class="col-md-4">
						<label for="inputNome" class="form-label">Nome</label> <input
							type="text" class="form-control" id="nome" name="nome" required
							placeholder="Nome completo PF ou Nome Fantasia PJ e MEI..." th:value="${fornecedor.nome}">
					</div>

					<div class="col-md-4">
						<label for="inputCpfCnpjMei" class="form-label">CPF/CNPJ/MEI</label>
						<input type="number" class="form-control" id="cpfCnpjMei"
							name="cpfCnpjMei" required placeholder="CPF ou CNPJ ou Nr MEI" th:value="${fornecedor.cpfCnpjMei}">
					</div>

					<div class="col-md-4">
						<label for="inputTelefone" class="form-label">Telefone</label> <input
							type="tel" class="form-control" id="telefone" name="telefone"
							required placeholder="(00) 0 0000-0000" th:value="${fornecedor.telefone}">
					</div>

					<div class="col-md-3">
						<label for="inputCep" class="form-label">CEP</label> <input
							type="number" class="form-control" id="cep" name="cep" required
							placeholder="00000-000" onblur="buscarCEP()" th:value="${fornecedor.cep}">
					</div>

					<div class="col-md-5">
						<label for="inputRua" class="form-label">Rua</label> <input
							type="text" class="form-control" id="rua" name="rua" required
							placeholder="Rua, bloco, quadra, conjunto" th:value="${fornecedor.rua}">
					</div>

					<div class="col-md-4">
						<label for="inputBairro" class="form-label">Bairro</label> <input
							type="text" class="form-control" id="bairro" name="bairro"
							required placeholder="Bairro, setor, núcleo" th:value="${fornecedor.bairro}">
					</div>

					<div class="col-md-4">
						<label for="inputCidade" class="form-label">Cidade</label> <input
							type="text" class="form-control" id="cidade" name="cidade"
							required placeholder="Cidade" th:value="${fornecedor.cidade}">
					</div>

					<div class="col-md-4">
						<label for="inputEstado" class="form-label">Estado</label> <input
							type="text" class="form-control" id="estado" name="estado"
							required placeholder="Estado" th:value="${fornecedor.estado}">
					</div>

					<div class="col-md-4">
						<label for="inputNumero" class="form-label">Número</label> <input
							type="number" class="form-control" id="numero" name="numero"
							placeholder="Ex: 1025" th:value="${fornecedor.numero}">
					</div>

					<div class="col-md-12 mt-3 mb-3">
						<input class="btn btn-primary btn-sm" type="submit" value="Salvar">
						<input class="btn btn-primary btn-sm" type="reset" value="Limpar">
					</div>

				</form>
			</div>
		</div>
	</main>

	<footer th:replace="~{footer :: footer}"></footer>

	<!-- js bootstrap -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>

	<script>
		document.getElementById('fornecedorLink').classList.add('active');
	</script>

	<script src="js/buscarCep.js"></script>

</body>

</html>